<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592349090728-0r25d8nss87ntng7l8unbr9ckiisksps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592349090728-0r25d8nss87ntng7l8unbr9ckiisksps</string>
	<key>API_KEY</key>
	<string>AIzaSyD4aWYT0Z0vXCWdIc8svqqMOGRaFGLlS4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>592349090728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ventureddive.-Link-NRLP</string>
	<key>PROJECT_ID</key>
	<string>nrlp-onelink</string>
	<key>STORAGE_BUCKET</key>
	<string>nrlp-onelink.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592349090728:ios:9b49eaefe81e601607439d</string>
	<key>DATABASE_URL</key>
	<string>https://nrlp-onelink.firebaseio.com</string>
</dict>
</plist>